/* {   */
     /* padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1440px;
    margin: 0px auto;
    padding: 0 15px;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    font-family: "Poppins", sans-serif;
    
  
}
.header-wrapper>div:nth-child(2){
    text-decoration: none;
    padding-right: 50px;
    
   
}
.header-wrapper>div:nth-child(2) a{
     color: #5C5F6E;
}
.header-wrapper>div:nth-child(3) a{
     color: #5C5F6E;
}
 #sign-in{
    padding: 10px 25px;
    border: 3px solid black;
    border-radius: 15px;
    color: #0B0D0E;
}
#account{
    padding: 10px 25px;
    background-color: #651FFF;
    color:white;
    border-radius: 15px;

}
.header-wrapper>div:nth-child(3) {
    align-items: center;
}
.banner{
    background-image: url(./assects/1st-page\ bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#start{
     padding: 10px 25px;
    border: 3px solid black;
    border-radius: 15px;
    
}
#document{
     padding: 10px 25px;
    background-color: #651FFF;
    color:white;
    border-radius: 15px;


}
 */ */ */
